{% extends "::base.html.twig" %}

{% block title %}RidePlanBundle:RoutePage:show{% endblock %}

{% block body %}
<h1>Welcome to the RoutePage:show page</h1>
    This route id: {{ Route }}
{% endblock %}
