{% extends "::base.html.twig" %}

{% block title %}RidePlanBundle:Route:Search{% endblock %}

{% block body %}
    <h1>Welcome to the Route:Search page</h1>
    <div><b>Search query:</b> {{ query }}</div>
{% endblock %}
