{% extends "::base.html.twig" %}

{% block title %}RidePlanBundle:AccountRegistration:RegisterAccount{% endblock %}

{% block body %}
<h1>Welcome to the AccountRegistration:RegisterAccount page</h1>
{% endblock %}
